<div>
<h1> The Game Begins.. </h2>
  <h2> Translate the given questions in malay </h2>
  <h3> English : </h3>


  <h3> Answer : </h3>
  <form action="/signup" method="post">
    <input type="text" name="answer">
    <br>
    <input type="submit" value="Submit">
  </form>


</div>